/* Importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato');

.App {
  text-align: center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #FFF5EE;
}

.App-header {
  background-color: #8FBC8F;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-size: 25px;
}

.App-title {
  font-size: 1.5em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 100em;
}

.pointer, .likeBtn {
  cursor: pointer;
  font-size: 14px;
  padding: 5px;

}

.likeBtn, .deleteBtn {
  border: none;
  background-color: #FFF5EE;
}

.likeBtn:hover {
  font-weight: bolder;
}

.likeBtn:active {
  font-weight: bolder;
}

.deleteBtn:hover {
  font-weight: bolder;
  color: red;
}

.deleteBtn:active {
  font-weight: bolder;
  color: red;
}


.likeCountText {
  text-align: center;
}

.heart, .deleteIcon {
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 auto;
}



.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3em;
}

.description {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #B0E0E6;

}


img, .description {
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid;
  width: 300px;
  height: 300px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: center;
}

input {
  height: 2em;
  width: 18em;
  font-size: 14px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  border-radius: 8px;
  margin-left: 1em;
  margin-right: 1em;
  
}

.addBtn {
  height: 2em;
  width: 4em;
  border-radius: 8px;
  font-size: 14px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  background-color: lavender;
}

.addBtn:hover {
  background-color: #FFFACD;
  cursor: pointer;
}

.addBtn:active {
  background-color: #FFFACD;
  cursor: pointer;
}












